.text-center {
    text-align: center;
}

body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

#image {
    display: block;
    margin: 0 auto 0;
    width: 100%;
    max-width: 850px;
}

figure {
    background-color: white;
    padding: 10px;
}

figcaption {
    padding: 20px 10px 10px;
}