html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

h2 {
    font-size: 1.95rem;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

ul {
    text-align: left;
}

blockquote {
    text-align: left;
}

#image {
    display: block;
    margin: 0 auto 0;
    height: auto;
    max-width: 100%;
}

figure {
    background-color: white;
    padding: 10px;
}

figcaption {
    padding: 20px 0px 10px;
}

li, blockquote {
    width: 80%;
    padding: 10px;
    margin: auto;
    line-height: 150%;
    max-width: 500px;
}

blockquote {
    font-style: italic;
}

#timeline-title {
    margin: 50px 0;
}