label {
    display: block;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

h1, p {
    margin: 1rem auto;
    text-align: center;
}